<% provide(:name, "coolest") %>

<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <h1>StaticPages#home</h1>
    <p>
    This is the <%= yield(:name) %> page for the 
    <a href=""> www.google.com</a>
    static application
    </p>    
</body>
</html>

